{{ $sectionID := replace (lower .section.name) " " "-" }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}

{{ $author:= site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
{{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}


<div class="container anchor p-lg-5" id="{{ $sectionID }}">
    {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
    {{ end }}
    <div class="text-container ml-auto">
        <ul class="contacts">
            {{ range .socialLinks }}
            <li>
                {{ if eq .name "shadowed-mail" }}
                <a class="{{ .id }}" direction="{{ .direction }}" domain="{{ .domain }}" subject="{{ .subject }}"
                    target="/" href="mailto:{{ .fakemail }}?subject={{ .subject }}&body={{ .fakebody }}">
                    <i class="{{ .icon }}"></i>
                </a>
                {{ else if eq .name "Email" }}
                <a href="mailto:{{ .url }}" title="{{ .name }}" target="_blank" rel="{{.rel | default " noopener"}}"><i
                        class="{{ .icon }}"></i></a>
                {{ else if eq .name (i18n "phone") }}
                <a href="tel:{{ .url }}" title="{{ .name }}" target="_blank" rel="{{.rel | default " noopener"}}"><i
                        class="{{ .icon }}"></i></a>
                {{ else }}
                <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="{{.rel | default " noopener"}}"><i
                        class="{{ .icon }}"></i></a>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
