{{/* default favicon */}}
{{ $favicon := "/images/favicon.png" }}

{{/* if favicon is provided in the config, then use that */}}
{{ if site.Params.logo.favicon }}
  {{ $favicon = site.Params.logo.favicon }}
{{ end }}

{{/* resize the favicon. don't resize svg because it is not supported */}}
{{ $favicon := resources.Get $favicon }}
{{ if and $favicon (ne $favicon.MediaType.SubType "svg") }}
  {{ $favicon = $favicon.Resize "42x" }}
{{ end }}
{{ $favicon = $favicon.RelPermalink}}

{{ $siteConfig := (index site.Data site.Language.Lang).site }}

{{ $authorImage := ""}}
{{ if $siteConfig.linkPreviewImage }}
  {{ $authorImage = $siteConfig.linkPreviewImage }}
  {{ $authorImage = resources.Get $authorImage }}
{{ end }}



<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

{{ if .Site.Title }}<meta og:title="{{ .Site.Title }}"></meta>{{ end }}
{{ if .Site.Title }}<meta name="title" property="og:title" content="{{ .Site.Title }}"></meta>{{ end }}
{{ if .Site.Title }}<meta name="twitter:title" property="og:title" content="{{ .Site.Title }}"></meta>{{ end }}
<meta name="twitter:card" content="summary"></meta>
{{ if $siteConfig.twitter }}<meta name="twitter:site" content="{{ $siteConfig.twitter }}"></meta>{{ end }}
{{ if $siteConfig.twitter }}<meta name="twitter:author" content="{{ $siteConfig.twitter }}"></meta>{{ end }}
{{ if $siteConfig.author }}<meta name="author" content="{{$siteConfig.author}}"></meta> {{end}}
{{ if $siteConfig.description }}<meta og:description="{{ $siteConfig.description }}"></meta>{{ end }}
{{ if $siteConfig.description }}<meta name="description" property="og:description" content="{{ $siteConfig.description }}"></meta>{{ end }}
{{ if $siteConfig.linkPreviewImage }}<meta og:image="{{ $authorImage.Permalink }}"></meta>{{ end }}
{{ if $siteConfig.linkPreviewImage }}<meta name="image" property="og:image" content="{{ $authorImage.Permalink }}"></meta>{{ end }}
<meta property="og:type" content="article"></meta>
{{ if $siteConfig.publishedTime }}<meta property="article:published_time" content="{{ $siteConfig.publishedTime }}"></meta>{{ end }}



<!-- ============ import common css ========== -->
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/layouts/main.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/navigators/navbar.css" | relURL }}"/>

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="{{ $favicon }}" />

<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>

<!--========== custom style/javascript overrides ===============-->
{{- with .Site.Params.customCSS }}{{- range . -}}
<link rel="stylesheet" href="{{ . | relURL }}">
{{- end }}{{- end }}

{{- with .Site.Params.customJS }}{{- range . -}}
<script type="text/javascript" src="{{ . | relURL }}" ></script>
{{- end }}{{- end }}